.alert-success {
  color: #1e7e34;
  font-weight: bold;
  background-color: #d1e7dd;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid rgb(10, 180, 146);
  padding: 15px;
  letter-spacing: 1px;
  border-radius: 5px;
  /* display: none; */
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
  padding: 15px;
  letter-spacing: 1px;
  border-radius: 5px;
  /* display: none; */
}
